$slate-900: rgb(15 23 42); 
$blueberry: #4894FF;
$light-colar: #FF8282;
$roman: #DC6262;
$cloud-burst: #34404E;
$bastille: #303031;
$snow: #FFFBFB;
$evergreen: #31D0AA;
$dorian: #ECF1F4;
$cloud: #FAFCFE;