// font-family
$open-sans: 'Open Sans', sans-serif;

// font-size
$header-m: 2.75rem;     // h1
$header-s: 2.25rem;     // h2
$header-xs: 1.75rem;    // h3

$body-s: 1.375rem;      // body
$body-xs: 1.25rem;      // sub-body

$title: 1.125rem;
$sub-title: 0.75rem;