@import "./assets/colors.scss";
@import "./assets/fonts.scss";

.app {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  color: $snow;
  font-family: $open-sans;
}

.device {
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background-color: $slate-900;
  color: $snow;

  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}
