@import "../../assets/colors.scss";

.sensor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 20vw;
  width: 100%;
  border: 2px solid $cloud-burst;
  background: transparent;

  transition: all 0.3s ease-in;
  &:hover {
    box-shadow: 0 2px 10px $light-colar;
  }

  padding: 1rem;
  cursor: pointer;
}

.header {
  border-bottom: 2px solid $blueberry;
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.status {
  width: 1rem;
  height: 1rem;
  border-radius: 10px;
  margin-left: 6rem;
}
